* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container-create {
    display: flex;
    justify-content: center;
    z-index: 1;
    position: absolute;
    right: 500px;
    top: 100px;
    
}

h1 {
    margin: 0;
}

.desc {
    margin: 6px 0;
    font-size: 14px;
    color: gray;
}

.line {
    border-bottom: 1px solid rgb(231, 229, 229);
    margin: 15px 0px;
}

form {
    padding: 10px 15px 25px 15px;
    width: 420px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.35);
    position: relative;
    border-radius: 6px;;
}

.closeBtn {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 35px;
}

input {
    background-color: #f5f6f7;
    outline-color: red;
}

.fname, .sname {
    /* width: 46%; */
    padding: 11px 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid rgb(200, 200, 200);
}

.fname {
    width: 49%;
    margin-right: 3px;
}

.sname {
    width: 49%;
}

.email, .password {
    width: 100%;
    padding: 11px 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid rgb(200, 200, 200);
}

label {
    display: block;
    margin-bottom: 3px;
    color: rgb(105, 103, 103);
    font-size: 14px;
}

select {
    width: 120px;
    padding: 0px 0px 0px 12px;
    height: 36px;
    border-radius: 6px;
    font-size: 16px;
    outline-color: red;
    margin-bottom: 8px;
}

.select-container {
    display: flex;
    justify-content: space-between;
}

.gender {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(200, 200, 200);
    width: 120px;
    padding: 10px 6px;
    border-radius: 6px;
}

.gender-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.learn-more {
    font-size: 12px;
    color: gray;
    margin-bottom: 12px;
}

.learn-more a {
    text-decoration: none;
}

.privacy {
    font-size: 13px;
    color: gray;
    margin-bottom: 3px;
}

.privacy a {
    text-decoration: none;
    font-size: 11px;
}

.sms {
    font-size: 11px;
    color: gray;
    margin-bottom: 20px;
}

.btn {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 10px 0;
    border: none;
    border-radius: 6px;
    background: #00a400;
    color: white;
    font-size: 20px;
}

